/* 필요한 모든 종류 폰트 import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Song+Myung&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 창 크기 조절 시 줄 밀리게
html {
    margin-left: 10vw;
    margin-right: 10vw;
} */

html {
    width: 100%;
    height: 100%;
    font-family: Noto Sans KR, AppleSDGothicNeo, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}


/* #top_container {
    width: 100%;
    margin-top: 5vh;
}

#content_container {
     margin-left: 5vw;
     margin-right: 5vw;
} */


/* 우측 플로팅 목차 */
#toc_wrapper {
    margin: 0;
    z-index: 999;
    font-size: 14px;
    position: absolute;
    width: 70px;
    height: 350px;
    right: 50px;
    border-radius: 10px;
    top: 250px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 8px;
    box-shadow: 2px 2px 9px 0px #00000040;
}

#toc_wrapper a {
    text-decoration: none;
}

#toc_wrapper a:visited {
    color: #333333;
}

/* SNS 공유 버튼 */
#share_btn_wrap {
    z-index: 999;
    position: fixed;
    right: 30px;
    top: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icon {
    font-size: 14px;
    font-weight: 500;
    color: rgb(124, 124, 124);
    margin-right: 10px;
    padding-top: 50px;
}

.link-icon.twitter {
    background-image: url(../../img/icon-twitter.png);
    background-repeat: no-repeat;
}

.link-icon.facebook {
    background-image: url(../../img/icon-facebook.png);
    background-repeat: no-repeat;
}

.link-icon.kakao {
    background-image: url(../../img/icon-kakao.png);
    background-repeat: no-repeat;
}

/* 모바일 햄버거 버튼 */
.mobile_hamburger_container {
    box-sizing: border-box;
    display: none;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 5vh;
    top: 1vh;
    left: 0px;
    z-index: 2;
    text-align: center;
}

.mobile_hamburger_button {
border: none;
background-color: transparent;
font-weight: border;
font-size: 1.5rem;
height: 5vh;
}

.mobile_menu_container {
position: fixed;
width: 100%;
height: 0vh; /*full height: 30vh*/
top: 6vh;
left: 0px;
z-index: 2;
background-color: white;

transition: height ease-in-out 0.3s;
}

.mobile_menu {
display: none;
box-sizing: border-box;
width: 100%;
height: 0vh; /*full height: 6vh*/
text-align: center;
font-weight: border;
font-size: 1rem;
letter-spacing: 0.3rem;
padding-top: 11px;

transition: height ease-in-out 0.3s;
}

.mobile_menu:hover {
background-color: #e4e3e3;
}

/* 배너 제목 */
#banner_title {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 160%;
    /* flex 필요할듯
    display: flex;
    margin-top: 200px;
    justify-content: center; */
    /* font-size: 75px;
    font-weight: 800; */
}

#banner_title2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 45px;
    font-weight: 400;
}

/* 배너 애니메이션 css */

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section h2 {
    color: #333333;
    font-size: 8em;
    z-index: 99;
}

/* section .set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

section .set div {
    position: absolute;
    display: block;
}

section .set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

section .set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

section .set div:nth-child(3) {
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}

section .set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

section .set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

section .set div:nth-child(6) {
    left: 0%;
    animation: animate 12s linear infinite;
}

section .set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
}

section .set div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: -80%;
        transform: scale(0.7) translateX(20px) rotate(0deg);
    }

    10% {
        opacity: 1;
        transform: scale(0.7);
    }

    20% {
        transform: scale(0.7) translateX(-20px) rotate(45deg);
    }

    40% {
        transform: scale(0.7) translateX(-20px) rotate(90deg);
    }

    60% {
        transform: scale(0.7) translateX(20px) rotate(180deg);
    }

    80% {
        transform: scale(0.7) translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: scale(0.7) translateX(-20px) rotate(225deg);
    }
}

.set2 {
    transform: rotateY(180deg);
}

.set3 {
    transform: rotateX(180deg);
} */

/* 각 파트별 제목 */
#article_title {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 600;
}

.article_title_serif {
    padding-top: 100px;
    font-family: 'Noto Serif KR', serif;
    font-size: 40px;
    font-weight: 600;
}

.article_title_small {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

#article_title_small_serif {
    /* display: flex;
    justify-content: center; */
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 20px;
    font-family: 'Noto Serif KR', serif;
    font-style: italic;
}

/* 편집자주 */
#intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1000px;
    padding-bottom: 300px;
    background: linear-gradient(to bottom, transparent 75%, black);
}

.intro_article_title {
    margin-bottom: 100px;
}

#intro_prgph1 {
    width: 600px;
    padding-top: 100px;
    line-height: 210%;
    font-size: 18px;
}

/* Part 1. 어느 환경미화원의 죽음 */
#part1 {
    background-color: black;
    color: white;
    padding-top: 100px;
}



.part1_prgph {
    padding-top: 100px;
    line-height: 210%;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
}

#part1_prgph_wrap1 {
    margin-top: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("../../img/cat1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#part1_prgph_wrap2 {
    margin-top: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("../../img/cat2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#part1_prgph_wrap3 {
    margin-top: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("../../img/cat3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.part1_prgph1_cat {
    display: block;
    font-size: 22px;
    font-weight: 600;
    background-color: #0b6031;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
}

#part1_prgph1_cat2,
#part1_prgph1_cat3 {
    margin-top: 80px;
}

/* part 1 텍스트 상자 */
.part1_txtbox {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 35px 25px;
    margin-bottom: 500px;
    font-weight: 300;
}


/*tableau 시각화 자료*/
#viz1654105150608 {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}

/* Part 2 */
#part2 {
    padding-top: 300px;
    background-color: black;
    color: white;
    height: 3000px;
}

/* 내러티브 도입 - 청소차 */
#car_fromleft {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 550px;

}

#falling_worker {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: -150px;
    margin-left: 250px;
}


/* 내러티브 도입 - 인용구 */
#part2_quote {
    background: rgba(255, 255, 255, 0.6);
    line-height: 140%;
    color: #000000;
    font-weight: 400;
    padding: 18px;
    font-size: 18px;
    position: absolute;
    right: 250px;
}

#part2_quote_mark {
    font-size: 25px;
}

/* 산안 데이터 */
#part2_data1 {
    display: block;
    margin: 0 auto;
    margin-top: 500px;
}

/* 작업과정 */
#part2_problem {
    margin-top: 400px;
    text-align: center;
}

#part2_problem_car {
    width: 800px;
}

/* 청소차 부위별 문제점 */

/* 뒷발판 area */
#back_foothold:hover {
    border: 1px red solid;
}

/* The Modal (background) */
.modal {
    display: none;
    /* 부위 클릭 시 flex로 변함. */
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    /*rgba 지원 안될 경우 */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    text-align: left;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*Part 3*/
#part3 {
    padding-top: 300px;
    background-color: black;
    color: white;
}

#part3_work_per1 {
    margin-top: 100px;
}

#part3_work_per1_title {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.part3_container {
    margin-top: 10px;
}

#part3_work_per1_sign {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

/* 15개 자치구 */
.category_container {
    width: 60vw;
    padding: 0vh 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

.category {
    width: 60px;
    font-size: 15px;
    color: #000000;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
    background-color: #ffffff;
}

.category:hover {
    background-color: #0B6031;
    color: #ffffff;
    box-shadow: 3px 3px 10px rgb(255, 255, 255);;
}

#part3_work_per1_imgcontainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#part3_district {
    /*flex로 인해 높이 지정해줘야 함*/
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    font-size: 15px;
    font-family: Noto Sans KR, AppleSDGothicNeo, Arial, sans-serif;;
}

/* outro */
#outro {
    padding-top: 300px;
    margin-bottom: 300px;
    background: linear-gradient(to top, transparent 80%, black);
}

#outro_prgph1,
#outro_prgph2 {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    line-height: 210%;
    font-size: 18px;
}

/* 세로모드 모바일 디바이스 */
@media (max-width: 575px) {

}

@media screen and (max-width: 960px) {
    .mobile_hamburger_container {
      display: block;
    }
}